# Instagram Graph API
# Crie um Facebook App em https://developers.facebook.com
# Gere um token de acesso com instagram_basic permissão
# Encontre seu User ID em https://graph.instagram.com/me?access_token={token}

VITE_IG_TOKEN=seu_access_token_aqui
VITE_IG_USER_ID=seu_user_id_aqui

# WhatsApp: +55 21 99059-7493
